.drone{
    .bg-img{
        background-image: url('../assets/images/drone-model-bg.webp');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .slider-container{
        width: 100%;
        @media (min-width:992px){
            width: 50%;
        }
    }
}