.facts{
    background-image: url('../assets/images/fact-bg.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
.fact-card{
    position: relative;
    box-sizing:content-box;
    &::after, &::before{
        content: '';
        position: absolute;
        display: block;
        aspect-ratio: 1/1;
        width: 10px;
        background-color: $primary;
        border-radius: 50%;
        left: -6px;
    }
}