header{
    .navbar-nav{
        .nav-item{
            position: relative;
            :focus, .active{
            &::after{
                content: '';
                display: block;
                height: 2px;
                width: 1rem;
                border-radius: 10px;
                background-color: $primary;
                position: absolute;
                left: 50%;
                right: 50%;
                translate: -50%;
            }
            }
        }
    }

    nav{
        backdrop-filter: blur(50px);
        background-color: #111b2270;
        @media (min-width:991px){
            background-color: transparent;
        }
    }
    &.js-toggle{
        nav{
            backdrop-filter: blur(50px) !important;
            background-color: #111b2270 !important;
        }
    }
}